<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add new field</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <h6 style="overflow: auto;" for="arg">Field
                <button type="button" (click)="isFieldEditMode? updateField():addField()" class="btn btn-success btn-sm mr-1 float-right"><i
                            class="material-icons" style="font-size: 12px;">save</i></button>
            </h6>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="name">Name</label>
                    <input id="fieldName" (keyup.enter)="isFieldEditMode? updateField():addField()" [autofocus] (change)="getFields()" name="fieldName" [(ngModel)]="field.name" #fieldName="ngModel" placeholder="Field name" type="text" class="form-control" aria-describedby="nameHelpBlock"
                        required="required">
                    <span id="nameHelpBlock" class="form-text text-muted">The field name of the
                    model</span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="type">Type</label>
                    <div>
                        <select id="fieldType" name="fieldType" required [(ngModel)]="field.type" #fieldType="ngModel" required="required" class="custom-select" aria-describedby="typeHelpBlock">
                        <option *ngFor="let type of fieldTypes" [value]="type">{{type}}</option>
                    </select>
                        <span id="typeHelpBlock" class="form-text text-muted">The field type</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <div class="form-group form-check">
                        <input type="checkbox" (change)="UpdateFieldArgumentsChecked('nullable', nullable)" value="true" name="nullable" [(ngModel)]="nullable" #fieldNullable="ngModel" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Nullable?</label>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <div class="form-group form-check" *ngIf="['integer', 'bigInteger', 'smallInteger'].includes(field.type)">
                        <input type="checkbox" (change)="UpdateFieldArgumentsChecked('unsigned', unsigned)" value="true" name="unsigned" [(ngModel)]="unsigned" #fieldUnsigned="ngModel" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Unsigned?</label>
                    </div>
                </div>
            </div>
            <h6 style="overflow: auto;" for="arg">Arguments
                <button type="button" (click)="addFieldArgument()" class="btn btn-primary btn-sm mr-1 float-right"><i
                    class="material-icons" style="font-size: 12px;">add</i></button>
            </h6>
            <hr>
            <div class="row" *ngFor="let argument of field.arguments; let j = index;trackBy: trackByFieldArgument">
                <div class="form-group col-lg-10">
                    <input id="arg{{j}}" name="arg{{j}}" [(ngModel)]="field.arguments[j]" #fieldArgument="ngModel" placeholder="Field argument" type="text" class="form-control" aria-describedby="argumentHelpBlock">
                    <span id="argumentHelpBlock" class="form-text text-muted">Use the arguments
                    available to the type of model selected</span>
                </div>
                <div class="form-group  col-lg-2">
                    <div class="text-center">
                        <button type="button" (click)="removeFieldArgument(j)" class="btn btn-danger btn-sm mr-1"><i
                            class="material-icons" style="font-size: 12px;">delete</i></button>
                    </div>
                </div>
            </div>
            <div *ngIf="field.arguments.length == 0" class="alert alert-primary" role="alert">
                Start adding your fields arguments by pressing the + button.
            </div>
            <h6 style="overflow: auto;" for="arg">Options
                <button type="button" (click)="addFieldOption()" class="btn btn-primary btn-sm mr-1 float-right"><i
                    class="material-icons" style="font-size: 12px;">add</i></button>
            </h6>
            <hr>
            <div class="row" *ngFor="let option of field.options; let k = index;trackBy: trackByFieldOption">
                <div class="form-group col-lg-5">
                    <div>
                        <select id="optionKey{{k}}" name="optionKey{{k}}" [(ngModel)]="field.options[k].key" #fieldKeyOption="ngModel" required="required" class="custom-select" aria-describedby="typeHelpBlock">
                        <option *ngFor="let option of fieldOptions" [value]="option">{{option}}</option>
                    </select>
                        <span id="typeHelpBlock" class="form-text text-muted">The field options</span>
                    </div>
                </div>
                <div class="form-group col-lg-5">
                    <input id="optionArg{{k}}" name="optionArg{{k}}" [(ngModel)]="field.options[k].value" #fieldOption="ngModel" placeholder="Field option" type="text" class="form-control" aria-describedby="optionHelpBlock">
                    <span id="optionHelpBlock" class="form-text text-muted">Use the options
                    available option arguments</span>
                </div>
                <div class="form-group  col-lg-2">
                    <div class="text-center">
                        <button type="button" (click)="removeFieldOption(k)" class="btn btn-danger btn-sm mr-1"><i
                            class="material-icons" style="font-size: 12px;">delete</i></button>
                    </div>
                </div>
            </div>
            <div *ngIf="field.options.length == 0" class="alert alert-primary" role="alert">
                Start adding your fields options by pressing the + button.
            </div>
            <div class="form-group float-right">
                <button name="reset" (click)="resetField()" class="btn btn-danger mr-1">
                Reset
                <i class="material-icons" style="font-size: 12px;">refresh</i>
            </button>
                <button name="submit" (click)="isFieldEditMode? updateField():addField()" class="btn btn-success">
                Save
                <i class="material-icons" style="font-size: 12px;">save</i>
            </button>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #importTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Import models</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <textarea class="form-control" name="import" id="import" cols="30" rows="10" [(ngModel)]="importedModels"></textarea>
                <span id="optionHelpBlock" class="form-text text-muted">Paste your json into the textarea</span>
            </div>
            <div class="form-group float-right">
                <button name="reset" (click)="modalRef.hide()" class="btn btn-danger mr-1">
                                Cancel
                                <i class="material-icons" style="font-size: 12px;">cancel</i>
                            </button>
                <button name="submit" (click)="import()" class="btn btn-success">
                                Save
                                <i class="material-icons" style="font-size: 12px;">save</i>
                            </button>
            </div>
        </form>
    </div>
</ng-template>
<a href="https://github.com/nooqta/ifriqiya"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
<div class="py-5 text-center">
    <h2>Ifiriqiya Generator</h2>
    <p class="lead">Laravel bulk models generator. A generator that helps you create models and migrations faster.
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{isEditMode? 'Edit ' + model.name:'Create a new model'}}
                    <button type="button" (click)="isEditMode?updateModel():saveModel()" class="btn btn-success btn-sm float-right">
                        <i class="material-icons" style="font-size: 12px;">save</i>
                    </button>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">Use the fields below to define your model</h6>
                <form #form="ngForm" dnd-droppable (onDropSuccess)="modelDropped($event)" [dropZones]="['zone1']">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" name="name" [(ngModel)]="model.name" #name="ngModel" placeholder="Model name" type="text" aria-describedby="nameHelpBlock" required="required" class="form-control">
                        <span id="nameHelpBlock" class="form-text text-muted">The model name to be used</span>
                    </div>
                    <div class="form-group">
                        <label for="namespace">Namespace</label>
                        <input id="namespace" name="namespace" [(ngModel)]="model.namespace" #namespace="ngModel" placeholder="Model namespace" type="text" class="form-control" aria-describedby="namespaceHelpBlock">
                        <span id="namespaceHelpBlock" class="form-text text-muted">The namespace (example:
                            App\Models)</span>
                    </div>
                    <div class="form-group">
                        <div class="form-group form-check">
                            <input type="checkbox" value="true" name="softDelete" [(ngModel)]="model.softDelete" #softDelete="ngModel" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Include soft deletes?</label>
                        </div>
                    </div>
                    <tabset>
                        <tab class="mt-1" heading="Fields" id="tab1">
                            <div class="row">
                                <div class="col-lg-10">
                                    <h5>
                                        Fields
                                    </h5>
                                </div>
                                <div class="col-lg-2">
                                    <button (click)="openModal(template)" type="button" class="btn btn-primary btn-sm"><i class="material-icons"
                                            style="font-size: 12px;">add</i></button>
                                </div>
                            </div>
                            <hr>
                            <ng-template class="list-group" #itemTemplate let-item="item" let-index="index">
                                <li class="list-group-item mb-1">
                                    <i class="material-icons" style="font-size: 12px;">open_with</i> {{item.initData.name}}: <code>{{item.initData.type}}</code>
                                    <button type="button" (click)="removeField(index)" class="btn btn-danger btn-sm float-right mr-1">
                                        <i class="material-icons" style="font-size: 12px;">delete</i>
                                    </button>
                                    <button type="button" (click)="editFieldModal(index, template)" class="btn btn-primary btn-sm float-right mr-1">
                                        <i class="material-icons" style="font-size: 12px;">edit</i>
                                    </button>
                                </li>
                            </ng-template>
                            <bs-sortable (drop)="dropField($event)" [(ngModel)]="model.fields" itemClass="sortable-item" (onChange)="reorderFields($event)" itemActiveClass="sortable-item-active" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper" [itemTemplate]="itemTemplate"
                                [ngModelOptions]="{standalone: true}">
                            </bs-sortable>
                            <div *ngIf="model.fields.length == 0" class="alert alert-primary" role="alert">
                                Start adding your fields by pressing the + button.
                            </div>
                            <!-- end fields -->
                        </tab>

                        <!-- <tab heading="Foreign keys" *ngIf="this.project.entities.models.length > 0 && this.columns.length >0"> -->
                        <tab heading="Foreign keys">
                            <h5 class="mt-1">Foreign keys
                                <button type="button" (click)="addForeignKey()" class="btn btn-primary btn-sm float-right"><i class="material-icons"
                                        style="font-size: 12px;">add</i></button>
                            </h5>
                            <hr>
                            <div class="form-section" *ngFor="let item of model.foreign_keys; let i = index">
                                <button type="button" (click)="removeForeignKey(i)" class="btn btn-outline-danger btn-sm float-right">x</button>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label for="column{{i}}">Column</label>
                                        <select id="column{{i}}" name="column{{i}}" [(ngModel)]="item.column" #on="ngModel" class="custom-select">
                                            <option *ngFor="let column of columns" [value]="column.name">{{column.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group  col-lg-6">
                                        <label for="references{{i}}">References</label>
                                        <input id="references{{i}}" name="references{{i}}" [(ngModel)]="item.references" #references="ngModel" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="on">On</label>
                                    <div>
                                        <select id="on" name="on" [(ngModel)]="item.on" #on="ngModel" class="custom-select">
                                            <option *ngFor="let fieldname of fields" [value]="fieldname">{{fieldname}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label for="select">onDelete</label>
                                        <div>
                                            <select [(ngModel)]="item.onDelete" #onDelete="ngModel" id="onDelete{{i}}" name="onDelete{{i}}" class="custom-select">
                                                <option value="cascade">cascade</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group  col-lg-6">
                                        <label for="onUpdate">onUpdate</label>
                                        <div>
                                            <select [(ngModel)]="item.onUpdate" #onUpdate="ngModel" id="onUpdate{{i}}" name="onUpdate{{i}}" class="custom-select">
                                                <option value="cascade">cascade</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="model.foreign_keys.length == 0" class="alert alert-primary" role="alert">
                                Start adding your foreign keys by pressing the + button.
                            </div>
                        </tab>
                        <!-- <tab heading="Relationships" *ngIf="this.project.entities.models.length > 0 && this.columns.length >0"> -->
                        <tab heading="Relationships">
                            <h5 class="mt-1">Relationships
                                <button type="button" (click)="addRelationship()" class="btn btn-primary btn-sm float-right"><i class="material-icons"
                                        style="font-size: 12px;">add</i></button>
                            </h5>
                            <hr>
                            <div class="form-section" *ngFor="let item of model.relationships; let i = index">
                                <button type="button" (click)="removeRelationship(i)" class="btn btn-outline-danger btn-sm float-right">x</button>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label for="relationshipName{{i}}">Name</label>
                                        <input id="relationshipName{{i}}" name="relationshipName{{i}}" [(ngModel)]="item.name" #relationshipName="ngModel" type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="relationshipType{{i}}">Type</label>
                                        <div>
                                            <select id="relationshipType{{i}}" name="relationshipType{{i}}" [(ngModel)]="item.type" #relationshipType{{i}}="ngModel" class="custom-select">
                                                <option *ngFor="let relationshipType of relationshipTypes"
                                                    [value]="relationshipType">{{relationshipType}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="relationshipClass">Class</label>
                                    <div>
                                        <select id="relationshipClass" name="relationshipClass" [(ngModel)]="item.class" #relationshipClass="ngModel" class="custom-select">
                                            <option *ngFor="let classname of classes" [value]="classname">{{classname}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <h6 style="overflow: auto;" for="arg">Arguments
                                    <button type="button" (click)="addRelationshipArgument(i)" class="btn btn-primary btn-sm mr-1 float-right"><i class="material-icons"
                                            style="font-size: 12px;">add</i></button>
                                </h6>
                                <hr>
                                <div class="row" *ngFor="let option of item.arguments; let k = index;trackBy: trackByRelationArgument">
                                    <div class="form-group col-lg-10">
                                        <input id="argument{{k}}" name="argument{{k}}" [(ngModel)]="item.arguments[k]" #relationshipArgument="ngModel" placeholder="Relationship argument" type="text" class="form-control" aria-describedby="optionHelpBlock">
                                        <span id="optionHelpBlock" class="form-text text-muted">Use the argument
                                            available to the type of relation selected</span>
                                    </div>
                                    <div class="form-group  col-lg-2">
                                        <div class="text-center">
                                            <button type="button" (click)="removeRelationshipArgument(i,k)" class="btn btn-danger btn-sm mr-1"><i class="material-icons"
                                                    style="font-size: 12px;">delete</i></button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="item.arguments.length == 0" class="alert alert-primary" role="alert">
                                    Start adding your relationship arguments by pressing the + button.
                                </div>
                            </div>
                            <div *ngIf="model.relationships.length == 0" class="alert alert-primary" role="alert">
                                Start adding your relationships by pressing the + button.
                            </div>
                        </tab>
                    </tabset>
                    <div class="form-group float-right">
                        <button name="reset" (click)="resetModel()" class="btn btn-danger mr-1">
                            Reset
                            <i class="material-icons" style="font-size: 12px;">refresh</i>
                        </button>
                        <button name="submit" (click)="isEditMode?updateModel():saveModel()" class="btn btn-success">
                            Save
                            <i class="material-icons" style="font-size: 12px;">save</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List of models
                    <button type="button" (click)="openModal(importTemplate)" class="btn btn-info btn-sm float-right mr-1">
                                <i class="material-icons" style="font-size: 12px;">cloud_upload</i>
                            </button>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">List of the models you have created so far</h6>
                <div class="text-center"><img *ngIf="src" [src]="src" /></div>
                <ul>
                    <div dnd-sortable-container [sortableData]="project.entities.models" class="table" *ngFor="let item of project.entities.models; let i = index">
                        <div dnd-draggable [dragEnabled]="true" class="list-group-item mb-1" [dropZones]="['zone1']" dnd-sortable [sortableIndex]="i" [dragData]="item">
                            <i class="material-icons" style="font-size: 12px;">open_with</i> {{item.name}}: <code>{{item.namespace}}</code>
                            <button type="button" (click)="removeModel(i)" class="btn btn-danger btn-sm float-right mr-1">
                                <i class="material-icons" style="font-size: 12px;">delete</i>
                            </button>
                            <button type="button" (click)="modelDropped(item)" tooltip="Add model as foreign key to the current model." class="btn btn-success btn-sm float-right mr-1">
                                        <i class="material-icons" style="font-size: 12px;">add</i>
                                    </button>
                            <button type="button" (click)="editModel(i)" class="btn btn-primary btn-sm float-right mr-1">
                                        <i class="material-icons" style="font-size: 12px;">edit</i>
                                    </button>
                        </div>
                    </div>

                </ul>
                <div *ngIf="project.entities.models.length == 0" class="alert alert-primary" role="alert">
                    Start adding your models.
                </div>
                <button *ngIf="project.entities.models.length > 0" name="submit" (click)="downloadJson()" class="btn btn-success">
                    Generate json
                    <i class="material-icons" style="font-size: 12px;">code</i>
                </button>
            </div>
        </div>
        <div class="card mt-1">
            <div class="card-body">
                <pre> {{project.entities.models | json}} </pre>
            </div>
        </div>
    </div>
</div>